In [107]:
import pandas as pd
import seaborn as sns
import numpy as np
import locale
from locale import atof
import string
### 2018

In [108]:
df=pd.read_csv('116cong.csv')

In [109]:
df.head()

,District,Code,Party,Incumbent Name,Unnamed: 4,Pronunciation Guide,Unnamed: 6,First Elected,Birth Year,Gender,...,2018 5-Year ACS Educational Attainment,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,2018 5-Year ACS White Educational Attainment,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119
0,NaN,NaN,NaN,First,Last,Phonetic,IPA,NaN,NaN,NaN,...,Total,< High School,High School,Some College,College,Total,< High School,High School,Some College,College
1,Nationwide,USA,232D - 197R - 1L - 5 Vacant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"218,446,071","26,948,057","59,265,308","63,365,655","68,867,051","143,042,909","10,569,698","39,145,047","43,004,226","50,323,938"
2,Alabama's 1st,AL-01,Republican,Bradley,Byrne,(BRAD-lee BURN),/'bɹæd.li bɜɹn/,2016,1955.0,Man,...,"482,421","62,851","159,203","143,142","117,225","331,580","35,848","105,275","98,664","91,793"
3,Alabama's 2nd,AL-02,Republican,Martha,Roby,(MAR-thuh ROH-bee),/'mɑɹ.θə 'ɹoʊ.bi/,2010,1976.0,Woman,...,"461,250","71,673","147,741","138,174","103,662","303,956","37,611","95,104","94,560","76,681"
4,Alabama's 3rd,AL-03,Republican,Mike,Rogers,(MAHYK RAH-jerz),/maɪk 'ɹɑ.dʒəɹz/,2002,1958.0,Man,...,"472,759","72,736","148,994","148,526","102,503","332,746","45,180","103,563","106,829","77,174"

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Columns: 120 entries, District to Unnamed: 119
dtypes: float64(2), object(118)
memory usage: 409.8+ KB

In [132]:
dfkeep = df.iloc[:, [1,2,7,8,9, 10, 11, 12, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25, 28, 29, 30, 31, 32, 33, 42, 46, 50]]

In [133]:
dfkeep

,Code,Party,First Elected,Birth Year,Gender,Race/ Ethnicity,Religion,LGBTQ,Pre-2018 Incumbent,2016 President,...,Unnamed: 25,2014-2018 ACS Citizen Adult Population,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 42,Unnamed: 46,Non-College White Share
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinton,...,Rep,White,Black,Latino,Asian and Pacific Islander,Native,Other,Bachelor's Degree or Higher,Median Income,NaN
1,USA,232D - 197R - 1L - 5 Vacant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.4,...,51.4,68.7,12.5,12.1,4.4,0.7,1.7,31.5,"$60,293",44.5
2,AL-01,Republican,2016,1955.0,Man,White - Non-Hispanic,Christian - Episcopalian,No,Won,34.1,...,68.2,68.3,26.4,2.1,1.1,1.1,1.1,24.3,"$47,952",49.4
3,AL-02,Republican,2010,1976.0,Woman,White - Non-Hispanic,Christian - Presbyterian,No,Won,33.0,...,67.3,65.3,30.5,1.9,0.6,0.4,1.3,22.5,"$46,817",48.8
4,AL-03,Republican,2002,1958.0,Man,White - Non-Hispanic,Christian - Baptist,No,Won,32.3,...,66.1,70.7,25.3,1.8,0.8,0.3,1.0,21.7,"$46,576",54.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,WI-05,Republican,1978,1943.0,Man,White - Non-Hispanic,Christian - Roman Catholic,No,Won,37.3,...,69.5,91.5,2.1,3.6,1.7,0.3,0.9,37.2,"$70,304",57.3
433,WI-06,Republican,2014,1955.0,Man,White - Non-Hispanic,Christian - Lutheran,No,Won,38.8,...,56.8,93.0,1.7,2.5,1.6,0.4,0.8,25.8,"$59,455",68.4
434,WI-07,Republican,2020 Special,1957.0,Man,White - Non-Hispanic,Christian,No,Won,37.3,...,59.3,94.2,0.6,1.2,1.1,1.7,1.1,23.1,"$55,016",72.2
435,WI-08,Republican,2016,1984.0,Man,White - Non-Hispanic,Christian - Roman Catholic,No,Won,38.6,...,65.0,91.8,1.1,2.4,1.5,2.1,1.1,26.0,"$60,166",67.3
436,WY-AL,Republican,2016,1966.0,Woman,White - Non-Hispanic,Christian - Methodist,No,Won,22.5,...,68.5,88.1,0.8,6.9,0.6,2.0,1.6,26.9,"$62,268",63.1

In [134]:
dfkeep.columns

Index(['Code', 'Party', 'First Elected', 'Birth Year', 'Gender',
       'Race/ Ethnicity', 'Religion', 'LGBTQ', 'Pre-2018 Incumbent',
       '2016 President', 'Unnamed: 15', '2012 President', 'Unnamed: 17',
       '2018 US House', 'Unnamed: 21', '2016 US House', 'Unnamed: 23',
       '2014 US House', 'Unnamed: 25',
       '2014-2018 ACS Citizen Adult Population', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 42',
       'Unnamed: 46', 'Non-College White Share'],
      dtype='object')

In [135]:
dfkeep.rename(columns = {'2016 President': 'clinton2016', 'Unnamed: 15': 'trump2016', '2012 President': 'obama2012', 'Unnamed: 17': 'romney2012', '2018 US House': '2018dem', 'Unnamed: 21': '2018rep', '2016 US House': '2016dem', 'Unnamed: 23': '2016rep', '2014 US House': '2014dem', 'Unnamed: 25': '2014rep', '2014-2018 ACS Citizen Adult Population': 'whiteper', 'Unnamed: 29': 'blackper', 'Unnamed: 30': 'latinoper', 'Unnamed: 31': 'asianper', 'Unnamed: 32': 'nativeper', 'Unnamed: 33': 'other', 'Unnamed: 42': 'bach_higher', 'Unnamed: 46': 'median_income', 'Non-College White Share': 'noncol_white'}, inplace=True)

In [136]:
dfdrop = dfkeep.drop(axis=0, index=[0, 1])

In [204]:
dfdrop.loc[2]

Code                                     AL-01
Party                               Republican
First Elected                             2016
Birth Year                                1955
Gender                                     Man
Race/ Ethnicity           White - Non-Hispanic
Religion              Christian - Episcopalian
LGBTQ                                       No
Pre-2018 Incumbent                         Won
clinton2016                               34.1
trump2016                                 63.5
obama2012                                 37.4
romney2012                                61.8
2018dem                                   36.8
2018rep                                   63.2
2016dem                                    0.0
2016rep                                   96.4
2014dem                                   31.7
2014rep                                   68.2
whiteper                                  68.3
blackper                                  26.4
latinoper                                  2.1
asianper                                   1.1
nativeper                                  1.1
other                                      1.1
bach_higher                              24.3
median_income                          $47,952
noncol_white                              49.4
Name: 2, dtype: object

In [127]:
dfdrop.columns

Index(['Code', 'Party', 'First Elected', 'Birth Year', 'Gender',
       'Race/ Ethnicity', 'Religion', 'LGBTQ', 'Pre-2018 Incumbent',
       'clinton2016', 'trump2016', 'obama2012', 'romney2012', '2016dem',
       '2016rep', '2014dem', '2014rep', 'whiteper', 'blackper', 'latinoper',
       'asianper', 'nativeper', 'other', 'bach_higher', 'median_income',
       'noncol_white'],
      dtype='object')

In [130]:

# dfdrop['2016presmarg'] = dfdrop['clinton2016'] - dfdrop['trump2016']

In [272]:
dfa = dfdrop.copy()

In [273]:
dfa.iloc[:,1]

2      Republican
3      Republican
4      Republican
5      Republican
6      Republican
          ...
432    Republican
433    Republican
434    Republican
435    Republican
436    Republican
Name: Party, Length: 435, dtype: object

In [274]:
dfad = dfa#.drop(axis=0, index=[313, 314, 315, 316, 317, 318, 319,320, 321, 322, 323, 324])

In [275]:
#dfad = dfad.drop(axis=0, index=[326,327,328,329,330])

In [276]:
dfad.iloc[:, [ 3, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]] = dfad.iloc[:, [ 3, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]].apply(pd.to_numeric, errors='coerce')

In [277]:
dfad.columns

Index(['Code', 'Party', 'First Elected', 'Birth Year', 'Gender',
       'Race/ Ethnicity', 'Religion', 'LGBTQ', 'Pre-2018 Incumbent',
       'clinton2016', 'trump2016', 'obama2012', 'romney2012', '2018dem',
       '2018rep', '2016dem', '2016rep', '2014dem', '2014rep', 'whiteper',
       'blackper', 'latinoper', 'asianper', 'nativeper', 'other',
       'bach_higher', 'median_income', 'noncol_white'],
      dtype='object')

In [278]:
dfad['2016presmarg'] = dfad['clinton2016'] - dfad['trump2016']
dfad['2012presmarg'] = dfad['obama2012'] - dfad['romney2012']
dfad['2016marg'] = dfad['2016dem'] - dfad['2016rep']
dfad['2014marg'] = dfad['2014dem'] - dfad['2014rep']

In [279]:
dfad

,Code,Party,First Elected,Birth Year,Gender,Race/ Ethnicity,Religion,LGBTQ,Pre-2018 Incumbent,clinton2016,...,asianper,nativeper,other,bach_higher,median_income,noncol_white,2016presmarg,2012presmarg,2016marg,2014marg
2,AL-01,Republican,2016,1955.0,Man,White - Non-Hispanic,Christian - Episcopalian,No,Won,34.1,...,1.1,1.1,1.1,24.3,"$47,952",49.4,-29.4,-24.4,-96.4,-36.5
3,AL-02,Republican,2010,1976.0,Woman,White - Non-Hispanic,Christian - Presbyterian,No,Won,33.0,...,0.6,0.4,1.3,22.5,"$46,817",48.8,-31.9,-26.5,-8.3,-34.7
4,AL-03,Republican,2002,1958.0,Man,White - Non-Hispanic,Christian - Baptist,No,Won,32.3,...,0.8,0.3,1.0,21.7,"$46,576",54.3,-33.0,-25.5,-34.0,-32.4
5,AL-04,Republican,1996,1965.0,Man,White - Non-Hispanic,Christian - Congregationalist,No,Won,17.4,...,0.4,0.7,1.2,17.2,"$43,458",72.7,-63.0,-50.8,-98.5,-98.6
6,AL-05,Republican,2010,1954.0,Man,White - Non-Hispanic,Christian - Nondenominational Protestant,No,Won,31.3,...,1.2,0.7,1.8,31.8,"$55,043",51.4,-33.4,-29.0,-33.5,-74.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,WI-05,Republican,1978,1943.0,Man,White - Non-Hispanic,Christian - Roman Catholic,No,Won,37.3,...,1.7,0.3,0.9,37.2,"$70,304",57.3,-20.1,-23.6,-37.4,-39.1
433,WI-06,Republican,2014,1955.0,Man,White - Non-Hispanic,Christian - Lutheran,No,Won,38.8,...,1.6,0.4,0.8,25.8,"$59,455",68.4,-16.9,-7.3,-19.9,-15.9
434,WI-07,Republican,2020 Special,1957.0,Man,White - Non-Hispanic,Christian,No,Won,37.3,...,1.1,1.7,1.1,23.1,"$55,016",72.2,-20.4,-3.1,-23.4,-19.9
435,WI-08,Republican,2016,1984.0,Man,White - Non-Hispanic,Christian - Roman Catholic,No,Won,38.6,...,1.5,2.1,1.1,26.0,"$60,166",67.3,-17.6,-3.7,-25.3,-30.1
436,WY-AL,Republican,2016,1966.0,Woman,White - Non-Hispanic,Christian - Methodist,No,Won,22.5,...,0.6,2.0,1.6,26.9,"$62,268",63.1,-47.6,-41.2,-32.0,-45.6

In [280]:
dfad['Code'] = dfad['Code'].apply(lambda x: x if x[3] != '0' else x[:3] + x[4])

In [ ]:
dfad['age'] = 2

In [281]:
dfad

,Code,Party,First Elected,Birth Year,Gender,Race/ Ethnicity,Religion,LGBTQ,Pre-2018 Incumbent,clinton2016,...,asianper,nativeper,other,bach_higher,median_income,noncol_white,2016presmarg,2012presmarg,2016marg,2014marg
2,AL-1,Republican,2016,1955.0,Man,White - Non-Hispanic,Christian - Episcopalian,No,Won,34.1,...,1.1,1.1,1.1,24.3,"$47,952",49.4,-29.4,-24.4,-96.4,-36.5
3,AL-2,Republican,2010,1976.0,Woman,White - Non-Hispanic,Christian - Presbyterian,No,Won,33.0,...,0.6,0.4,1.3,22.5,"$46,817",48.8,-31.9,-26.5,-8.3,-34.7
4,AL-3,Republican,2002,1958.0,Man,White - Non-Hispanic,Christian - Baptist,No,Won,32.3,...,0.8,0.3,1.0,21.7,"$46,576",54.3,-33.0,-25.5,-34.0,-32.4
5,AL-4,Republican,1996,1965.0,Man,White - Non-Hispanic,Christian - Congregationalist,No,Won,17.4,...,0.4,0.7,1.2,17.2,"$43,458",72.7,-63.0,-50.8,-98.5,-98.6
6,AL-5,Republican,2010,1954.0,Man,White - Non-Hispanic,Christian - Nondenominational Protestant,No,Won,31.3,...,1.2,0.7,1.8,31.8,"$55,043",51.4,-33.4,-29.0,-33.5,-74.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,WI-5,Republican,1978,1943.0,Man,White - Non-Hispanic,Christian - Roman Catholic,No,Won,37.3,...,1.7,0.3,0.9,37.2,"$70,304",57.3,-20.1,-23.6,-37.4,-39.1
433,WI-6,Republican,2014,1955.0,Man,White - Non-Hispanic,Christian - Lutheran,No,Won,38.8,...,1.6,0.4,0.8,25.8,"$59,455",68.4,-16.9,-7.3,-19.9,-15.9
434,WI-7,Republican,2020 Special,1957.0,Man,White - Non-Hispanic,Christian,No,Won,37.3,...,1.1,1.7,1.1,23.1,"$55,016",72.2,-20.4,-3.1,-23.4,-19.9
435,WI-8,Republican,2016,1984.0,Man,White - Non-Hispanic,Christian - Roman Catholic,No,Won,38.6,...,1.5,2.1,1.1,26.0,"$60,166",67.3,-17.6,-3.7,-25.3,-30.1
436,WY-AL,Republican,2016,1966.0,Woman,White - Non-Hispanic,Christian - Methodist,No,Won,22.5,...,0.6,2.0,1.6,26.9,"$62,268",63.1,-47.6,-41.2,-32.0,-45.6

In [282]:
dfad.to_pickle('demo2018')

,Code,Gender,Race/ Ethnicity,col_perc,pres_marg_2012,no
2,AL-01,Man,White - Non-Hispanic,0.242993,-24.4,AL-1
3,AL-02,Woman,White - Non-Hispanic,0.224741,-26.5,AL-2
4,AL-03,Man,White - Non-Hispanic,0.216819,-25.5,AL-3
5,AL-04,Man,White - Non-Hispanic,0.171913,-50.8,AL-4
6,AL-05,Man,White - Non-Hispanic,0.318425,-29.0,AL-5
7,AL-06,Man,White - Non-Hispanic,0.360973,-49.6,AL-6
8,AL-07,Woman,Black - African-American,0.199991,45.3,AL-7
9,AK-AL,Man,White - Non-Hispanic,0.292311,-14.1,AK-AL
10,AZ-01,Man,White - Non-Hispanic,0.245738,-2.5,AZ-1
11,AZ-02,Woman,White - Non-Hispanic,0.340364,-1.5,AZ-2
12,AZ-03,Man,Hispanic - Mexican,0.161532,24.5,AZ-3
13,AZ-04,Man,White - Non-Hispanic,0.192436,-36.2,AZ-4
14,AZ-05,Man,White - Non-Hispanic,0.359205,-29.2,AZ-5
15,AZ-06,Man,White - Non-Hispanic,0.440490,-20.7,AZ-6
16,AZ-07,Man,Hispanic - Mexican/Colombian,0.143422,45.2,AZ-7
17,AZ-08,Woman,White - Non-Hispanic,0.294000,-24.8,AZ-8
18,AZ-09,Man,White - Non-Hispanic,0.385264,4.5,AZ-9
19,AR-01,Man,White - Non-Hispanic,0.164187,-24.7,AR-1
20,AR-02,Man,White - Non-Hispanic,0.296098,-11.8,AR-2
21,AR-03,Man,White - Non-Hispanic,0.272547,-33.9,AR-3
22,AR-04,Man,White - Non-Hispanic,0.165848,-25.9,AR-4
23,CA-01,Man,White - Non-Hispanic,0.243845,-16.3,CA-1
24,CA-02,Man,White - Non-Hispanic,0.415441,42.0,CA-2
25,CA-03,Man,White - Non-Hispanic,0.253517,11.2,CA-3
26,CA-04,Man,White - Non-Hispanic,0.333001,-18.4,CA-4
27,CA-05,Man,White - Non-Hispanic,0.317324,42.2,CA-5
28,CA-06,Woman,Asian - Japanese,0.284959,40.8,CA-6
29,CA-07,Man,Asian - Indian,0.334232,4.0,CA-7
30,CA-08,Man,White - Non-Hispanic,0.168377,-13.9,CA-8
31,CA-09,Man,White - Non-Hispanic,0.201806,17.7,CA-9
32,CA-10,Man,White - Non-Hispanic,0.175895,3.6,CA-10
33,CA-11,Man,White - Non-Hispanic,0.441079,37.6,CA-11
34,CA-12,Woman,White - Non-Hispanic,0.588627,71.6,CA-12
35,CA-13,Woman,Black - African-American,0.482248,78.5,CA-13
36,CA-14,Woman,White - Non-Hispanic,0.474300,50.6,CA-14
37,CA-15,Man,White - Non-Hispanic,0.445199,38.2,CA-15
38,CA-16,Man,White - Portuguese-American,0.125760,19.2,CA-16
39,CA-17,Man,Asian - Indian,0.569691,46.4,CA-17
40,CA-18,Woman,White - Non-Hispanic,0.627456,39.3,CA-18
41,CA-19,Woman,White - Non-Hispanic,0.358999,44.7,CA-19