In [39]:
import pandas as pd
import seaborn as sns
import numpy as np
import locale
from locale import atof

In [29]:
df=pd.read_csv('116cong.csv')

In [30]:
df.head()

,District,Code,Party,Incumbent Name,Unnamed: 4,Pronunciation Guide,Unnamed: 6,First Elected,Birth Year,Gender,...,2018 5-Year ACS Educational Attainment,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,2018 5-Year ACS White Educational Attainment,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119
0,NaN,NaN,NaN,First,Last,Phonetic,IPA,NaN,NaN,NaN,...,Total,< High School,High School,Some College,College,Total,< High School,High School,Some College,College
1,Nationwide,USA,232D - 197R - 1L - 5 Vacant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"218,446,071","26,948,057","59,265,308","63,365,655","68,867,051","143,042,909","10,569,698","39,145,047","43,004,226","50,323,938"
2,Alabama's 1st,AL-01,Republican,Bradley,Byrne,(BRAD-lee BURN),/'bɹæd.li bɜɹn/,2016,1955.0,Man,...,"482,421","62,851","159,203","143,142","117,225","331,580","35,848","105,275","98,664","91,793"
3,Alabama's 2nd,AL-02,Republican,Martha,Roby,(MAR-thuh ROH-bee),/'mɑɹ.θə 'ɹoʊ.bi/,2010,1976.0,Woman,...,"461,250","71,673","147,741","138,174","103,662","303,956","37,611","95,104","94,560","76,681"
4,Alabama's 3rd,AL-03,Republican,Mike,Rogers,(MAHYK RAH-jerz),/maɪk 'ɹɑ.dʒəɹz/,2002,1958.0,Man,...,"472,759","72,736","148,994","148,526","102,503","332,746","45,180","103,563","106,829","77,174"

In [31]:
dfdrop = df.drop(axis=0, index=[0, 1])

In [32]:
dfdrop = dfdrop.drop(['District', 'Party', 'Unnamed: 4', 'Pronunciation Guide', 'Unnamed: 6', 'First Elected', 'Birth Year', 'LGBTQ'], axis=1)

In [33]:
dfdrop = dfdrop.drop(['Religion', 'Pre-2018 Incumbent', '2016 President', 'Unnamed: 15', 'Unnamed: 111', 'Unnamed: 112', 'Unnamed: 113', '2018 5-Year ACS White Educational Attainment', 'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118', 'Unnamed: 119'], axis=1)

In [44]:
dfdrop

,Code,Incumbent Name,Gender,Race/ Ethnicity,2012 President,Unnamed: 17,2008 President,Unnamed: 19,2018 US House,Unnamed: 21,...,Unnamed: 102,2010 Census Voting Age Population (Includes Latinos of Any Race),Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,2018 5-Year ACS Educational Attainment,Unnamed: 114
2,AL-01,Bradley,Man,White - Non-Hispanic,37.4,61.8,38.5,60.9,36.8,63.2,...,"9,350","515,948","353,347","132,261","12,904","6,918","5,524","4,994","482,421","117,225"
3,AL-02,Martha,Woman,White - Non-Hispanic,36.4,62.9,35.0,64.5,38.4,61.4,...,"9,953","522,837","347,855","145,568","15,912","6,059","2,371","5,072","461,250","103,662"
4,AL-03,Mike,Man,White - Non-Hispanic,36.8,62.3,36.6,62.6,36.2,63.7,...,"9,057","523,481","374,072","125,248","11,783","5,992","1,705","4,681","472,759","102,503"
5,AL-04,Robert,Man,White - Non-Hispanic,24.0,74.8,25.5,73.3,20.1,79.8,...,"9,616","521,081","452,704","34,104","22,579","2,369","3,870","5,455","471,629","81,079"
6,AL-05,Mo,Man,White - Non-Hispanic,34.9,63.9,36.3,62.6,38.9,61.0,...,"13,449","523,079","398,175","85,119","20,508","8,381","3,628","7,268","490,800","156,283"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,WI-05,Jim,Man,White - Non-Hispanic,37.7,61.3,41.8,57.2,38.0,61.9,...,"8,801","548,075","502,516","7,721","21,132","11,315","1,626","3,765","508,769","189,238"
433,WI-06,Glenn,Man,White - Non-Hispanic,45.8,53.1,49.4,49.3,44.5,55.5,...,"7,502","550,929","512,304","8,534","15,390","9,099","2,414","3,188","497,041","128,393"
434,WI-07,Tom,Man,White - Non-Hispanic,47.8,50.9,53.2,45.3,38.5,60.1,...,"9,060","547,463","517,329","2,735","7,147","6,322","9,538","4,392","502,595","116,018"
435,WI-08,Mike,Man,White - Non-Hispanic,47.6,51.3,53.7,45.0,36.3,63.7,...,"9,552","538,785","491,964","5,067","17,269","8,908","11,474","4,103","501,233","130,093"
436,WY-AL,Liz,Woman,White - Non-Hispanic,28.0,69.2,32.7,65.2,29.8,63.6,...,"8,742","428,224","376,530","3,265","32,070","3,757","7,764","4,838","389,291","104,677"

In [42]:
# locale.setlocale(locale.LC_NUMERIC, '')
# dfdrop[['2018 5-Year ACS Educational Attainment', 'Unnamed: 114']] = dfdrop[['2018 5-Year ACS Educational Attainment', 'Unnamed: 114']].applymap(atof)

In [43]:
# dfdrop[['2018 5-Year ACS Educational Attainment', 'Unnamed: 114']] = dfdrop[['2018 5-Year ACS Educational Attainment', 'Unnamed: 114']].apply(pd.to_numeric)

In [50]:
dfdrop['Unnamed: 114' ] = dfdrop['Unnamed: 114'].apply(lambda x: x.replace(',', ''))

In [51]:
dfdrop['2018 5-Year ACS Educational Attainment'] = dfdrop['2018 5-Year ACS Educational Attainment'].apply(lambda x: x.replace(',', ''))

In [53]:
dfdrop[['2018 5-Year ACS Educational Attainment', 'Unnamed: 114']] = dfdrop[['2018 5-Year ACS Educational Attainment', 'Unnamed: 114']].apply(pd.to_numeric)

In [55]:
dfdrop['col_perc'] = dfdrop['Unnamed: 114'] / dfdrop['2018 5-Year ACS Educational Attainment']

In [58]:
dfdrop[['2012 President', 'Unnamed: 17']] =  dfdrop[['2012 President', 'Unnamed: 17']].apply(pd.to_numeric)

In [59]:
dfdrop['pres_marg_2012'] = dfdrop['2012 President'] - dfdrop['Unnamed: 17']

In [63]:
dfend = dfdrop[['Code', 'Gender', 'Race/ Ethnicity', 'col_perc', 'pres_marg_2012']]

In [64]:
dfend

      Code Gender       Race/ Ethnicity  col_perc  pres_marg_2012
2    AL-01    Man  White - Non-Hispanic  0.242993           -24.4
3    AL-02  Woman  White - Non-Hispanic  0.224741           -26.5
4    AL-03    Man  White - Non-Hispanic  0.216819           -25.5
5    AL-04    Man  White - Non-Hispanic  0.171913           -50.8
6    AL-05    Man  White - Non-Hispanic  0.318425           -29.0
..     ...    ...                   ...       ...             ...
432  WI-05    Man  White - Non-Hispanic  0.371953           -23.6
433  WI-06    Man  White - Non-Hispanic  0.258315            -7.3
434  WI-07    Man  White - Non-Hispanic  0.230838            -3.1
435  WI-08    Man  White - Non-Hispanic  0.259546            -3.7
436  WY-AL  Woman  White - Non-Hispanic  0.268891           -41.2

[435 rows x 5 columns]

In [65]:
dfend.to_pickle('demo2018')